<form [formGroup]="componentGeneratorForm" (ngSubmit)="onFormSubmit(componentGeneratorForm.value)">
  <div  fxLayout="row"  fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center center">
    <mat-card fxFlex="50%">
      <mat-card-title fxLayout="row" fxLayoutAlign="center center">
        <label>Component A
          </label>
        </mat-card-title>
      <p>
        <mat-form-field class="form-field" appearance="fill" >
          <mat-label>Enter Testtext</mat-label>
          <input  matInput placeholder="Asad" [(ngModel)]="componentText" (keyup)="updateComponentValue()"  formControlName="componentText" [errorStateMatcher]="" >
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>This text will bind with Component B</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="form-field" appearance="fill" >
          <mat-label>Enter Template Code</mat-label>
          <textarea matInput placeholder="<h1></h1>" [(ngModel)]="componentTemplateCode" formControlName="componentTemplateCode"
            [errorStateMatcher]="" rows="5" cols="15"></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Template code to generate Component B, use <b>Testtext</b> binding property</mat-hint>
        </mat-form-field>

      </p>

      <p fxLayout="row" fxLayoutAlign="center center">
        <button type="submit" [disabled]="!componentGeneratorForm.valid" mat-flat-button color="primary">
          <mat-icon>save</mat-icon> Create B
        </button>

      </p>
     
    </mat-card>

    
  </div>
  <br/> <br/>
  <mat-divider></mat-divider>
  <br/> <br/>
  <template #vc> </template>

</form>